{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img class="custom-image" src={{asset('media/logo.jpg')}}>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/cart">Panier</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
    <div class="h1-home">
        <h1>Acceuil</h1>
    </div>





    <div>

    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <h2 class="h2-home">PRESENTATION</h2>
      </div>
      <div class="card-body-presentation">
        
        <p class="p-presentation">Vous souhaitez vous initier à la musique, l’informatique, le jardinage ou la cuisine ou perfectionner vos compétences dans ces domaines. Vous êtes au bon endroit ! </p>
         

      </div>
    </div>
    </div>


    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <h2 class="h2-home">ACTUALITÉ</h2>
      </div>
      <div class="card-body-presentation">
        
        <p class="p-actualite">Lancement de Knowledge Learning </p>
        
        <p class="p-actualite-d">Après 20 ans d’expertise dans l’édition de supports de formation, Knowledge étend son offre au e-learning. Découvrez dès maintenant nos formations en ligne dans la rubrique … </p>


      </div>
    </div>
    </div>






    <div class="cart-boutique">
    <div class="card" style="width: 80rem;">
      <div class="card-header">
        <h2 class="h2-home">TOP BOUTIQUE</h2>
      </div>
      <div class="card-body">
        
        
        <div class="card-cursus">


          <div class="card" style="width: 20rem;">
            <div class="card-header">
              <h5 class="h5-home">Leçon:</h5>
            </div>
            <div class="card-body">
              <h6 class="h6-home">Les langages Html et CSS </h6>
              <p class="p-home-top">Prix: 32.00 €</p>
              
            </div>
          </div>



          <div class="card" style="width: 20rem;">
            <div class="card-header">
              <h5 class="h5-home">Cursus:</h5>
            </div>
            <div class="card-body">
              <h6 class="h6-home">Cursus d’initiation à la guitare</h6>
              <p class="p-home-top">Prix: 50.00 €</p>
              
            </div>
          </div>


          <div class="card" style="width: 20rem;">
            <div class="card-header">
             <h5 class="h5-home">Leçon:</h5>
            </div>
            <div class="card-body">
              <h6 class="h6-home">Mettre en œuvre le style dans l’assiette</h6>
              <p class="p-home-top">Prix: 26.00 €</p>
              
            </div>
          </div>



        </div>


      </div>
    </div>
    </div>




    </div>

</main>




<footer>
    <div>
        <p class="p-footer">Nom de la société : Knowledge</p>
        <p class="p-footer">Adresse : 76 rue de Paris, 75011 PARIS, France</p>
        <p class="p-footer">Téléphone: 01 46 75 33 99 77</p>
        <p class="p-footer">Adresse de contact : nowledge@blabla.com</p>
    </div>
</footer>



{% endblock %}
