/* Définition du style global pour le corps de la page */
body {
    background-color: #f1f8fc;
}


/* Style pour la section de la boutique */
.cart-boutique{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

}

/* Style pour les cartes individuelles */
.card{

    text-align: center;
    margin-bottom: 50px;
}

/* Style pour les cartes de cursus */
.card-cursus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
}

/* NavBar */

.custom-image {
    width: 200px;
    height: 100px;
}

.navbar-nav .nav-link {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}



/* Home page */

.h1-home{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.h1-home h1 {
    font-size: 5rem; /* Augmente la taille du texte (ajustez selon vos besoins) */
}

.h2-home{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h5-home{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h6-home{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.p-presentation{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-body-presentation{
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

.p-actualite{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top: 50px;
   
}

.p-actualite-d{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 50px;
}

.p-home-top{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


/*  Product page */

.h2-product{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h4-product{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h5-product{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h6-product{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.p-product{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#btn-product1{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #cd2c2e;
}

#btn-product2{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #82b864;
}


/*  Product details page */

.h1-productd{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
   
    margin-top: 50px;
    
}


.h1-productd h1 {
    font-size: 5rem; /* Augmente la taille du texte (ajustez selon vos besoins) */
}

.h2-productd{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h5-productd{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.p-productd{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.cart-productd{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

#btn-productd{
    background-color: #82b864;
}

.btn-productd{
    margin-top: 25px;
    margin-bottom: 25px;
}



/* Cart page */

.h2-cart{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h3-cart{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h5-cart{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#btn-cart1{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #82b864;
}

#btn-cart2{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #cd2c2e;

}

.p-cart{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#p-cart{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.cart-f{
    margin-top: 25px;
    
}

/* Order page */

.h1-order{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 5rem;
    margin-top: 50px;
    
}

#h2-order{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.h2-orders{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.h5-order{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.p-order{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#p-order{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#btn-order{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #82b864;
}

.btn-orders{
    text-align: center;
}

/* Validation page */

.h1-vali{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 5rem;
    margin-top: 50px;
    
}

.val-lesson{

    margin-top: 100px;
    margin-left: 50px;
}

.h2-vali{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.ul-vali{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


/* Security page */


#h1-security{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 5rem;
    margin-top: 50px;

}

.content-security{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.card-security{
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    background-color: white;
}

#btn-security{
    margin-bottom: 50px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #82b864;
}


.lab-security{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

#mess-security{
    margin-top: 10px;
}




/* Register page */


.card-register{
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    background-color: white;
    margin-top: 100px;
    
    

}

.h1-register{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 50px;

}

.h2-register{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.content-register{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    
    
}

.form-register{
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-register{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #82b864;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 50px;
}

.p-footer{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
