{% extends 'base.html.twig' %}

{% block title %}validations{% endblock %}

{% block body %}



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/cart">Panier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://127.0.0.1:8000/validation">Validation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>

    <h2>Leçons</h2>
    <ul>
        {% for lesson in lessons %}
            <li>
                {{ lesson.name }} 
                <span class="{{ lesson.isValidated ? 'validated' : 'not-validated' }}">
                    {{ lesson.isValidated ? '✔️ Validée' : '❌ Non validée' }}
                </span>
            </li>
        {% endfor %}
    </ul>



    <h2>Cursus</h2>
    <ul>
        {% for cursuse in cursuses %}
            <li>
                {{ cursuse.name }} 
                
            </li>
        {% endfor %}
    </ul>

</main>


{% endblock %}
